html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listaDeFilmes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.filme {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}

.filme img {
  width: 150px;
}

.filme * {
  margin: 0;
}
